/*
 * Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <riscv32-litex-vexriscv.dtsi>

/ {
	model = "LiteX VexRiscV";
	compatible = "litex,vexriscv";
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &rstn;
	};
	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &ram0;
	};

	ram0: memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x10000000>;
	};

        leds {
                compatible = "gpio-leds";
                led0: led_0 {
                        gpios = <&gpio0 0 0>;
                        label = "TX";
                };
                led1: led_1 {
                        gpios = <&gpio0 1 0>;
                        label = "RX";
                };
                rstn: led_2 {
                        gpios = <&gpio2 0 0>;
                        label = "RSTN";
                };
        };
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};

&timer0 {
	status = "okay";
};
&prbs0 {
	status = "okay";
};

&clk0 {
	status = "okay";
};

&clk1 {
	status = "okay";
};

&clock0 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

dw1000_spi: &spi0 {
	status = "okay";
        litex_dw_spi: litex_dw1000_spi@0 {
                compatible = "decawave,dw1000";
                status = "okay";
                reg = <0>;
		label = "dw1000_spi_if";
		int-gpios = <&gpio1 2 0>;
		reset-gpios = <&gpio2 0 0>;
                spi-max-frequency = <8000000>;
	};
};
